/* Main Colors */
$mainorange: #f9af41;
$maingreen: #8bc540;
$mainred: #eb2227;

/* Secondary Colors */
$secondaryblue: #165e7c;
$secondaryblue2: #2eaabf;
$secondaryblue3: #aed5e6;
$secondarygray: #626366;
$secondarygray2: #919396;
$secondarygray3: #f3f3f3;

/* Brighter Colors */
$brightred: #ef4b53;
$brightorange: #f6be65;
$brightgreen: #8cc642;
$brightblue: #b8e0f2;
$brightblue2: #4dc0d0;
$brightblue3: #3d819a;
$brightgray: #828283;
$brightgray2: #c7c9cc;

/* Web Colors */
$web: #ea222d;
$web2: #fbae43;
$web3: #8cc642;
$web4: #aed5e6;

/* Colors */
$light-blue: #4ec0d0;
$light-blue-hover: #53c8d8;
$light-blue2: #cde9f6;
$light-blue3: #8dd3dd;
$background-blue: #b9e1f2;

$light-gray: #999;
$medium-gray: #666;
$dark-gray: #333;
$alternative-gray: #4b4b4b;
$background-gray: #e8e8e8;
$line-gray: #f6f6f6;

$light-orange: #f6bf66;
$medium-orange: #ff9600;

$white: #fff;


a {
	text-decoration:none !important;
	cursor: pointer;
}